.container {
    width: 80%;
    margin: auto;
}

html {
    font-family: "Comic Sans MS", Sans-seriftrg;
}

head {
    float: left;
    top: 0;
}

header {
}

header nav {
    background-color: #474E68;
    position: absolute;
    float: top;
    width: 1150px;
}

header nav img {
    position: absolute;
    height: 73.43px;
}

nav h1 {
    color: #ffffff;
    float: left;
    padding-left: 7rem;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #474E68;
    padding: 0;
    margin: 0;
    font-size: larger;
}

li {
    float: right;
    width: 10rem;
}

li a {
    background-color: #474E68;
    color: floralwhite;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

main {
}

section {
    padding-top: 5rem;
    float: bottom;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure iframe{
    width:600px;
    height:500px;
}

.mapouter {
    position: center;
    float: bottom;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

article {

}
section h2{
    text-align: left;
}
aside {
    background-color: gainsboro;
}

footer {
    background-color: teal;
}

form {
    background-color: floralwhite;
}